*.db
*.log
*.exe
*.pdb
*.ilk
*.ipdb
*.iobj
*.opendb
*.txt
*.bat

test/.vs/
test/Example_D1_integration/Debug/
test/Example_D1_integration/Release/
test/Test_D1_PointData_C/Debug/
test/Test_D1_PointData_C/Release/
test/Test_D1_PointData_H/Debug/
test/Test_D1_PointData_H/Release/
test/Test_D1_RangeT/Debug/
test/Test_D1_RangeT/Release/
test/Test_D1_SizeT/Debug/
test/Test_D1_SizeT/Release/
test/Test_D0_PointData_C/Debug/
test/Test_D0_PointData_C/Release/
test/Test_D2_PointData_C/Debug/
test/Test_D2_RangeT/Debug/
test/Test_D2_RangeT/Release/
test/Test_D2_SizeT/Debug/
